.contentFixed {
	color: white;
	position: fixed;
	left: 12%;
	top: 35%;
}

.name {
	font-size: 6vh;
	color: #f5f5f5;
	margin: 0;
	font-family: 'Lalezar', cursive;
	display: inline;

}

.aka{
	font-family: 'Suez One', serif;
	margin-left: 10px;
	color: #f5f5f5;
	font-size: 1.5vh;
}

.desc {
	margin: 0;
	margin-bottom: 5%;
	font-family: 'Suez One', serif;
	font-size: 3vh;
	color: #f5f5f5;
}

.lTo {
	font-family: 'Suez One', serif;
	color: #e3f2fd;
	margin-right: 20px;
	font-size: 2vh;
}

.inline {

}
